@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  margin-top: 50px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  letter-spacing: 0.385em;
}

table{
  font-family: 'Montserrat', sans-serif;
  margin: 30px auto;
  width: 80%;
  border-collapse: collapse;
  cursor: default;
}

table tr{
  border-bottom: 1px solid #000;
}

th{
  padding-bottom: 10px;
}
td{
  text-align: center;
  padding: 10px;
}

select{
  font-family: 'Montserrat', sans-serif;
}

.add button{
  width: 90px;
  height: 30px;
  border-radius: 4px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #0EA6E7;
}
.delete{
  color: rgb(189, 29, 29);
  font-weight: 700;
  cursor: pointer;
}